.input {
  height: 5rem;
  font-size: 1.3rem !important;
  border-radius: 0.5rem;
}

.input_error {
  border-color: #e53e3e;
  box-shadow: 0 0 0 1px #e53e3e;
}

@media only screen and (min-width: 768px) {
  .input {
    font-size: 1.5rem !important;
  }
  .label {
  font-size: 1.6rem !important;
  margin-bottom: 0.75rem !important;
}
}

.label {
  font-size: 1.4rem !important;
  color: #3b3b3bd4;
  margin-bottom: 0.65rem !important;
}

.input::placeholder {
  color: #74747485; // Old: ~52% opacity in 8-digit hex
}

.input:focus-visible {
  border-color: var(--green02) !important;
  outline: 0px solid var(--green02);
  outline-offset: 0 !important;
  box-shadow: none !important;
}

.input:hover {
  box-shadow: 0px 5px 20px #0000000D !important;
}
